.body {
  height: 100vh;
  background: #d9a7c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fffcdc, #0D5882);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fffcdc, #0D5882); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: #4CA1AF;  !* fallback for old browsers *!*/
  /*background: -webkit-linear-gradient(to left, #C4E0E5, #4CA1AF);  !* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: linear-gradient(to left, #C4E0E5, #4CA1AF); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

.title {
  padding: .18rem 0;
  font-size: 24px;
  color: #fff;
}

.menu-bar {
  padding-top: .36rem;
  height: 60px;
  width: 70%;
  display: flex;
}

.menu-bar li {
  list-style: none;
  font-size: 16px;
  flex: 1;
}

.menu-bar li a {
  text-decoration: none;
  padding: .12rem 0;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.menu-bar li a:active {
  color: #93FAFF;
  border-top: 2px solid #93FAFF;
}

.menu-bar li a:hover {
  cursor: pointer;
  color: #93FAFF;
  border-top: 2px solid #93FAFF;
}

.active-link {
  color: #93FAFF !important;
  border-top: 2px solid #93FAFF;
}

