/* You can add global styles to this file, and also import other style files */
html {
  font-size: 100px;
}
body{
  padding: 0;
  margin: 0;
  background-image: url("assets/bgc.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

ul {
  margin: 0;
}
