<nav class="title">
  Rihua Chen's Blog is Coming!
</nav>
<!--<audio src="../../assets/youqingsuiyue.ogg">友情岁月</audio>-->

<section class="article-wrapper">
  <div class="bgc-music">
    <audio controls autoplay="autoplay">
      <!--<source src="viper.mp3" type="audio/mp3">-->
      <source src="../../assets/youqingsuiyue.ogg" type="audio/ogg">
      <p>Your browser doesn't support HTML5 audio. Here is a <a href="viper.mp3">link to the audio</a> instead.</p>
    </audio>
  </div>
  <div class="article-title">
    第一篇文章
  </div>
  <div class="article-content">
    这是我的第一篇博客，这个博客是用Angular4搭建的，暂时只有前端的展示页面，用来写一些心情还有一些技术上的所思所悟。
  </div>
</section>
